.content {
  width: 700px;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.form-login input {
  margin-top: 10px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #949393;
}

.input-sing-in {
  background-color: green;
  color: white;
  font-size: 18px;
}

.input-sing-in:hover {
  background-color: rgb(0, 88, 0);
}

.nav-link .text-nav-link{
  text-decoration: none;
  color: rgb(124, 124, 124);
}

.nav-link .text-nav-link:hover{
  color: rgb(58, 57, 57);
}